body {
  margin: 0;
  font-family: 'Source Code Pro', 'PingFang TC', 'Noto Sans CJK TC', monospace;
  font-size: 11px;
}
a, a:link, a:visited {
  color: blue;
  text-decoration: none;
}
@mixin disable-select {
  -webkit-user-select: none;  // Chrome, Safari
  -moz-user-select: none;     // Firefox
  -ms-user-select: none;      // IE 10+
  user-select: none;          // Likely future
}
#fixed {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em 0.5em 0;
  @include disable-select;

  // http://uigradients.com
  // Teal Love
  background: #AAFFA9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #AAFFA9 , #11FFBD); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #AAFFA9 , #11FFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  > #controls {
    #filter > *,
    #layout > * {
      display: inline;
      vertical-align: top;
    }
    #layout > #jump {
      display: block;
      margin-top: 0.5em;
      > a {
        display: inline-block;
        padding: 1em;
        &:hover {
          background: blue;
          color: white;
        }
      }
    }
  }
  > header {
    padding: 0.5em;
    text-align: center;
    > h1 {
      margin: 0;
      padding: 0;
      font-size: 1em;
      font-weight: bold;
    }
    > h2 {
      margin: 0;
      font-size: 1.5em;
    }
  }
  > #loading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.95);

    > label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.5em;
      font-weight: bold;
    }
  }
}
body.loading {
  > #fixed > #loading { display: block; }
  > article { visibility: hidden; }
}
a.anchor {
  display: block;
  height: 15em;
}
article {
  > h1 {
    margin: 1em 0;
    text-align: center;
    font-size: 1.5em;
  }
  > .toc, > .groups {
    > header {
      > h1, > h2 {
        margin: 0;
        padding: 0;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
      }
      > h2 {
        font-size: 1em;
      }
    }
  }
  > .groups {
    > section {
      border-top: 2px solid black;
    }
    > section > header {
      display: none;
      margin-top: 1em;
      > h1 {
        margin: 0;
        font-size: 1em;
      }
    }
  }
}

table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}
tr {
  display: none;
}
tr:nth-child(2n) {
  //background: #eee;
}
td {
  width: 50%;
  padding: 0 0.5em;
  word-break: break-word;
  &.index {
    width: 3em;
  }
  &.id {
    width: 18em;
  }
  &.dates {
    width: 14em;
  }
  &.parties {
    width: 8em;
  }
  &.status {
    width: 8em;
  }
  &.link {
    width: 18em;
  }
  &.debug {
    color: #aaa;
  }
}
// https://gist.github.com/mfornos/9991865
span.warn {
  font-family: 'Apple Color Emoji', 'Android Emoji', 'Segoe UI', EmojiSymbols, Symbola;
}
body.color {
  table > tr {
    &[data-parties^="DPP"] {
      background: rgba(lime, 0.2);
    }
    &[data-parties^="TSU"] {
      background: rgba(saddlebrown, 0.2);
    }
    &[data-parties^="KMT"] {
      background: rgba(blue, 0.2);
    }
    &[data-parties^="PFP"] {
      background: rgba(darkorange, 0.2);
    }
    &[data-parties^="GOV"] {
      background: rgba(black, 0.1);
    }
  }
}
body.groupHeader {
  .groups > section > header { display: block; }
  .groups > section { border: none; }
}
