body {
  margin: 0;
  font-family: 'Source Code Pro', 'PingFang TC', 'Noto Sans CJK TC', monospace;
  font-size: 11px;
}
nav {
  padding: 0.5em;
  background: #aaa;
}
header {
  padding: 0.5em;
  h1 {
    margin: 0;
  }
}
table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}
tr {
  &.DPP {
    background: rgba(lime, 0.2);
  }
  &.TSU {
    background: rgba(saddlebrown, 0.2);
  }
  &.KMT {
    background: rgba(blue, 0.2);
  }
  &.PFP {
    background: rgba(darkorange, 0.2);
  }
}
tr:nth-child(2n) {
  //background: #eee;
}
td {
  width: 50%;
  padding: 0 0.5em;
  word-break: break-all;
  &.index {
    width: 4em;
  }
  &.dates {
    width: 14em;
  }
  &.status {
    width: 10em;
  }
  &.link {
    width: 2em;
  }
  &.debug {
    color: #aaa;
  }
}
span.warn {
  font-family: monospace;
}
