body {
  margin: 0;
  font-family: 'Source Code Pro', 'PingFang TC', 'Noto Sans CJK TC', monospace;
  font-size: 11px;
}
nav {
  position: fixed;
  width: 100%;

  // http://uigradients.com
  // Teal Love
  background: #AAFFA9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #AAFFA9 , #11FFBD); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #AAFFA9 , #11FFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  #siteName {
    padding: 0 0.5em;
    font-weight: bold;
  }
  #filter > *,
  #layout > * {
    display: inline;
    vertical-align: top;
  }
}
header {
  padding: 7.5em 0.5em 0.5em;
  text-align: center;
  h1 {
    margin: 0;
  }
}
table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}
tr {
  &[data-parties^="DPP"] {
    background: rgba(lime, 0.2);
  }
  &[data-parties^="TSU"] {
    background: rgba(saddlebrown, 0.2);
  }
  &[data-parties^="KMT"] {
    background: rgba(blue, 0.2);
  }
  &[data-parties^="PFP"] {
    background: rgba(darkorange, 0.2);
  }
  &[data-parties^="GOV"] {
    background: rgba(black, 0.1);
  }
}
tr:nth-child(2n) {
  //background: #eee;
}
td {
  width: 50%;
  padding: 0 0.5em;
  word-break: break-all;
  &.index {
    width: 4em;
  }
  &.id {
    width: 20em;
  }
  &.dates {
    width: 14em;
  }
  &.status {
    width: 10em;
  }
  &.link {
    width: 2em;
  }
  &.debug {
    color: #aaa;
  }
}
span.warn {
  font-family: monospace;
}
